.semi-modal {
    z-index: 2000 !important;
}

.semi-grid {
    padding: 0 .5rem;
}
.semi-grid .semi-grid-item {
    border: 2px solid #7e8999;
    border-radius: .5rem;
    padding: .5rem;
    cursor: pointer;
    background-color: #2d3542;
}
.semi-grid .semi-grid-item.float {
    float: left;
}
.semi-grid .semi-grid-item img {
    width: 48px;
    height: 48px;
}
.semi-grid.xs .semi-grid-item img {
    width: 24px;
    height: 24px;
}
.semi-grid.sm .semi-grid-item img {
    width: 32px;
    height: 32px;
}
.semi-grid.lg .semi-grid-item img {
    width: 64px;
    height: 64px;
}
.semi-grid.xl .semi-grid-item img {
    width: 96px;
    height: 96px;
}

.semi-grid .semi-grid-item.disable {
    border-color: #ff0000 !important;
    border-style: dotted !important;
    background-color: #f002;
}
.semi-grid .semi-grid-item.disable img {
    filter: grayscale(1);
    opacity: 0.25;
}

.semi-grid .semi-grid-item.enable {
    border-color: #00ff00 !important;
    border-style: dashed !important;
    background-color: #0f02;
}
